h1{
    font-size: 60px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h2{    
    font-size: 20px;
    font-weight: 60;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}

.h2{    
    font-size: 20px;
    font-weight: 60;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}
.overlay{
    position: absolute;
    top: 3vh;
    left: 3vw;
    font-weight: 100;
    text-align: left;
    min-height: 18px;
}

.container{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: left;
    margin: 5vw;
}

.overlay1{
    position: absolute;
    top: 12%;
    left: 3vw;
    font-size: 35px;
    font-weight: 75;
    text-align: left;
    min-height: 18px;
    }

.overlay2{
    position: absolute;
    top: 28%;
    left: 3vw;
    font-size: 20px;
    font-weight: 60;
    text-align: left;
    line-height: 25pt;
    min-height: 15px;
    }

.logo{

    border: .5vw solid #191E32;
    width: 98vw;
    max-height: 95vh;
    
}

ul{
    list-style-type: none;
    padding: 0vw;
}

h3{
    font-size: 20px;
    font-weight: 60;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    font-size: 18px;
    font-weight: 50;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p{
    font-size: 18px;
    font-weight: 50;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.about-me-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding-bottom: 50vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.about-me-label{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 50vh;
    width: 70vw;
}



.about-me-text{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 50vw;
    padding-left: 4vw;
    padding-right: 4vw;}

.about-me-image{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 50vw;
    padding-left: 4vw;
    padding-right: 4vw;

}



.projects{
    width: 50vw;
    justify-content: left;
    margin-left: 22%;
}

.project1-container{
    position: relative;
}
.box{
    position: absolute;
    border: .1vw solid #191E32;
    height: 70vh;
    width: 45vw;
    margin-bottom: 10vh;
    margin-left: 21.5vw;
    z-index: 0;
}

.box1{
    position: absolute;
    border: .1vw solid #191E32;
    height: 70vh;
    width: 45vw;
    margin-top: 15vh;
    margin-bottom: 10vh;
    margin-left: 32.5vw;
    z-index: 1;
}

.box-content{
    position: absolute;
    border: .1vw solid #191E32;
    height: 40vh;
    width: 25vw;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 2;
    margin-top: 21vh;
    padding: 1vw;
    align-items: center;
    justify-content: center;
}



.contact{
    display: flex;
    justify-content: center;
    padding-top: 100vh;
    margin-top: 30vh;
}


.email{
    
    display: flex;
    text-align: left;
    height: 5vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border: .1vw solid #191E32;
}

.message{
    
    display: flex;
    text-align: left;
    height: 15vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border: .1vw solid #191E32;
    margin-bottom: 50vh;
}